* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 3px solid white;
}

html {
    background-color: gray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid white;
    background-color: pink;
}

/* style header*/
header {
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(to right, pink , gray);
}
header h2 {
    font-size: 200%;
    color: black;
}

header h3 {
font-size: 155%;
font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
}

/*section style*/

section {
    width: 525px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

section h2 {
    color: red;
    font-weight: bold;
}

section h3 {
    color: red;
}

/*article style*/

article {
    padding: .5em 0;
}



article h2 {
    padding-top: 0;
}

article img {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    border: 3px solid gray;
}

/*aside*/

aside {
float: right;
padding-top: 20px;
}

aside h4 {
    color: red;
}



footer {
    clear: both;
    background-image: linear-gradient(to right, gray , pink);
    text-align: center;
    padding: 1em 0;
}

/*nav*/
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#navbar ul li {
	float: left;
}
#navbar ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
    background-color: gray;
    color: pink;
    font-weight: bold;
    
}
#navbar a.current {
	color: black;
}
#navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#navbar ul ul li {
	float: none;
}